<!DOCTYPE html>
<html lang="en">

    <title>SNAKE 3D Main Menu</title>

    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' type='text/css' href='/css/mainMenu.css'/>
    </head>

    <body>

        <div class="quotes">
            <a href="http://localhost:1337/game.html">Press The Spacebar To Continue</a>
        </div>

        <div class="quotes">
            <a href="http://localhost:1337/game.html">Click Here To Continue</a>
        </div>


        <script type='text/javascript' src='/js/game.js'></script>

    </body>

</html>