<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">

        <title>Snake 3D</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>

        <link rel='stylesheet' type='text/css' href='/css/game.css'/>

    </head>

    <body>

        <div class="controls">
            >>>>> Controls <<<<< <br>
            Arrow Up: Up <br>
            Arrow Down: Down <br>
            Arrow Left: Left <br>
            Arrow Right: Right <br>
            W Key: Forward <br>
            S Key: Backwards <br>
        </div>

        <script src="/js/snake.js"></script>

        <script src="/js/game.js"></script>

    </body>

</html>
