<!DOCTYPE html>
<html lang="en">

    <title>SNAKE BUT IT'S 3D</title>

    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' type='text/css' href='/css/index.css'/>
    </head>

    <body>

        <div class="logo">SNAKE 3D</div>
        <a href="http://localhost:1337/game.html" class="button">Lets Play</a>

        <script type='text/javascript' src='/js/index.js'></script>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>

    </body>

</html>