* {box-sizing: border-box;}
body {
	margin: 0;
	padding: 0;
    font-family: sans-serif;
    background-color: black;
}

.logo{

    color:darkorchid;
    font-family: sans-serif;
    font-size: 500%;
    position: fixed;
    text-align: center;
    width: 100%;
    padding-top: 10%;
    text-shadow: 1px 1px aqua;
}

.button {
    font: bold 300% Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    position: relative;
    left: 50%;
}

/*
.quotes{

    color:aqua;
    font-family: sans-serif;
    font-size: 200%;
    position: fixed;
    text-align: center;
    width: 100%;
    padding-top: 30%;
}

.quotes2{

    color:aqua;
    font-family: sans-serif;
    font-size: 200%;
    position: fixed;
    text-align: center;
    width: 100%;
    padding-top: 40%;
}
*/